/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

/* General Variables */
/* surreycodes website */

body {
    text-align: center;
    background: url(../img/surreycodes-self-learning-tech.jpg) no-repeat center center;
    background-attachment: inherit;
    box-sizing:unset;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
p {
    margin-bottom: 20px;
    font-size: 16px;
}
a {
    color: #FFFFFF;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #006300;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}



.btn  {
  color: #fff;
  background-color: #4F92AF;
  border-color: #4F92AF;
}
.btn:hover  {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.button-email {
	font-weight: 700;
    border-radius: 15px;
    height: 40px;
    border: none;
    background-color: #006300;opacity: 0.9;
    color: #FFFFFF;
}
.button-email:hover {
	background-color: #47B0FF;opacity: 0.9;
}
.boxed {
    background-color: #2aabd2;
    border-radius: 25px;
    height: 20em;
}

.subtitle {
    font-family: 'Do Hyeon', sans-serif;
	color: #006300;
    text-shadow: 1px 2px #FFFFFF;
	font-size: 8vh;
}

/* footer */
footer {
    position: relative;
    bottom:0;
	margin-top: 50px;
	color: #fff;
	text-align: center;
    height:60px;   /* Height of the footer */
}

@media only screen 
and (min-device-width : 320px) {

    h2.subtitle {
        font-family: 'Do Hyeon', sans-serif;
        font-weight: lighter;
        color: #006300;
        text-shadow: 1px 1px #FFFFFF;
        font-size: 6vh;
    }
}